.App {
    text-align: center;
  }
  @font-face {
    font-family: 'SEGA LOGO FONT';
    font-style: normal;
    font-weight: normal;
    src: local('SEGA LOGO FONT'), url('SEGA.woff') format('woff')
  }
  h1 {
    font-family: 'SEGA LOGO FONT','Bigelow Rules';
    font-size: 72px;
    color: #0ccac4;
    margin-bottom: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }